/* подключение локальный шрифтов на страницу */
@font-face {
	font-family: "Anonymous Pro";
	src: url(fonts/AnonymousPro-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Anonymous Pro";
	src: url(fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	display: swap;
}



* {
	box-sizing: border-box;
}

/* сброс стилей по умолчанию */
body,
h1,
h2,
h3,
p,
ul,
li {
	color: #121723;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

/* задание шрифта всей странице */
body {
	font-family: "Anonymous Pro", sans-serif;
}

/* стили для главного контейнера */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F1F1F1;
}

/* стили для хедера(шапки) сайта */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #A1A6B4;
	background: white;
}

.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	margin: 24px 0 24px;
}

.logo-link {
	max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
	display: flex;
}

.nav-list {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 24px;
}

.nav-item {
	display: inline;
}

.nav-link {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	color: #121723;
}

/* стили для  */
.content {
	margin: 32px 0;
	max-width: 1140px;
}

h1 {
	font-size: 48px;
}

/* стили для контейнера кроссовок */
.sneakers {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin: 32px 0 0;
}

/* стили для карточки кроссовок */
.sneaker {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 364px;
	height: 100%;
	border-radius: 12px;
	background: white;
	transition: all 120ms ease-in;
	text-decoration: none;

}

.sneaker:hover {
	transform: translate(0, -10px);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sneaker-image {
	border-radius: 12px 12px 0 0;
	width: 100%;
}

.sneaker-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
	padding: 32px 24px;
}

/* отдельные карточки */
.main-info {
	display: flex;
	padding: 48px;
	margin: 32px 0 32px;
	max-width: 1140px;
	background-color: #FFFFFF;
	border-radius: 50px;
	flex-direction: column;
	row-gap: 32px;
}

.main-img {
	max-width: 100%;
}

.text-info {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.description {
	display: flex;
	gap: 32px;
}

.long-text {
	width: 100%;
	font-size: 20px;
	font-family: "Anonymous Pro", sans-serif;
	font-weight: 400;
	line-height: 28px;
}

.characteristic {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.one-char {
	border-bottom: 1px solid #121723;
	display: flex;
	justify-content: space-between;
}

.one-char h2 {
	margin-bottom: 20px;
	color: #121723;
	font-size: 30px;
	font-family: "Anonymous Pro", sans-serif;
	font-weight: 400;
	word-wrap: break-word
}

.one-char p {
	margin: 24px 0 24px;
	font-size: 20px;
	font-family: "Anonymous Pro", sans-serif;
	font-weight: 400;
	word-wrap: break-word;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 26px;
}

p {
	font-size: 20px;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #121723;
}

/* стили для футера */
.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	padding-top: 8px;
	margin: 24px 0;
}

.footer__logo-link {
	max-width: 300px;
	width: 100%;
}

footer .nav-link {
	color: white;
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1140px;
	border-top: 1px solid #A1A6B4;
}

.copyright-text {
	color: #A1A6B4;
	font-size: 16px;
	font-weight: 700;
	margin: 24px 0;
}

@media screen and (max-width: 380px) {
	body {
		width: 100%;
	}

	header {
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.header-container {
		flex-direction: column;
		width: 375px;
		row-gap: 20px;
		align-items: center;
		margin: 24px 16px 24px;
	}

	.content {
		width: 375px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 32px 16px 32px 16px;
		row-gap: 32px;

	}

	.content h1 {
		font-size: 32px;
		padding-left: 16px;
	}

	.sneakers {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 24px;
		margin: 0;
	}

	.sneaker {
		padding-top: 20px;
		width: 343px;
	}

	.sneaker-image {
		
		width: 343px;
	}

	footer {
		padding: 0 16px 0;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		row-gap: 32px;
		margin: 32px 0 24px;
	}

	.nav-list {
		height: 20px;
	}

	.footer__logo-link {
		height: 22px;
	}

	.main-info {
		width: 343px;
		border-radius: 12px;
		padding: 24px;
	}

	.main-info img {
		width: 295px;
	}

	.description {
		display: flex;
		flex-direction: column;
	}

	.long-text {
		width: 295px;
	}

	.characteristic {
		width: 295px;
	}

	.sneaker-title h1 {
		font-size: 32px;
	}

	.sneaker-status h2 {
		font-size: 20px;
	}

	.long-text {
		font-size: 16px;
	}

	.one-char h2 {
		font-size: 24px;
	}

	.one-char p {
		font-size: 16px;
	}

}